Cardiovascular Dataset extracted from: https://www.kaggle.com/sulianova/cardiovascular-disease-dataset

Reccomended Environment: Google Colab/Jupyter Notebook/JupyterLab

Python packages used:
    -NumPy
    -Pandas
    -Matplotlib
    -Plotly
    -Seaborn
    -Scikit-learn
    -CatBoost
    -XGBoost
