Cardiovascular Dataset extracted from: https://www.kaggle.com/sulianova/cardiovascular-disease-dataset

Reccomended Environment: Google Colab/Jupyter Notebook/JupyterLab

Python packages used:
    -pandas
    -numpy
    -plotly
    -seaborn
    -matplotlib
    -catboost
    -xgboost
    -sklearn
